{% extends 'base.html' %}
{% block title %}Post Detail{% endblock %}


{% block body %}

<style>
    .card {
    margin: 0 auto;}

    .title {
        margin-bottom: 24px;
    }

    .flex-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .flex-container > div {
        display: flex;
        flex: 1;
    }


    .divider {
        width: 100%;
        height: 1px;
        margin-top: 32px;
        margin-bottom: 32px;
        background-color: #C0CBF0;
    }

    .divider2 {
        width: 100%;
        height: 1px;
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .skills-bottom{
        margin-bottom: 16px;
    }

    .one-skill{
        color: #050B1F;
        overflow: hidden;
        font-size: 14px;
        font-family: CentraNo2Bold;
        line-height: 16px;
        padding-top: 8px;
        white-space: nowrap;
        padding-left: 16px;
        padding-right: 16px;
        text-overflow: ellipsis;
        letter-spacing: 0px;
        padding-bottom: 8px;
    }

    .one-skill-pill{
        margin-right: 16px;
        margin-bottom: 16px;
        align-items: center;
        border-radius: 100px;
        color: rgba(0, 0, 0, 0.87);
        border: none;
        cursor: default;
        display: inline-flex;
        outline: 0;
        padding: 0px 4px;
        font-size: 0.9285714285714286rem;
        box-sizing: border-box;
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        align-items: center;
        font-family: CentraNo2,Roboto, sans-serif,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        white-space: nowrap;
        border-radius: 16px;
        vertical-align: middle;
        justify-content: center;
        text-decoration: none;
        background-color: rgb(225, 231, 250)
    }
    
</style>

<div class="card" style="width: 50rem;height: 50rem; margin-top:5rem; margin-bottom: 5rem;">
    <div class="card-body">

    <div class="title">
        <h3 class="card-title">Title</h3>
    </div>

    <div class="flex-container">
        <div>Posted on: </div>
        <div>Posted by: </div>
    </div>
    
    <div class="divider"></div>

    <h4 class="card-title">Description</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

    <div class="divider2"></div>

    <div class="skills-div skills-bottom">
        <h4 class="card-title">Skills</h5>
        
        <div class="skills-container">
            <div class="one-skill-pill">
                <span class="one-skill">Backend Development</span>
            </div>

            <div class="one-skill-pill">
                <span class="one-skill">Frontend Development</span>
            </div>

        </div>
    </div>

    </div>
  </div>


{% endblock %}