{% extends 'base.html' %}
{% block title %}Talent Hub{% endblock %}

{% block body %}

<style>
.overall-profile {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.overall-profile-inner {
  display: flex;
  flex-direction: row;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  padding-top: 40px;
}

.right-side-profile {
  display: flex;
  flex-direction: column;
}

#bio-display:hover, #interest-display:hover, #selected-skills-display:hover {
    background-color: #ebefff;
    cursor: pointer;
}


.divider {
    width: 100%;
    height: 1px;
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: #C0CBF0;
}

.pills {
  background-color: rgb(225, 231, 250);
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.container {
  padding-right: 0%;
  padding-left: 0%;
}

.post-card{
  position:relative;
}

.username-div{
  position: absolute;
  bottom: 0;
}

.username-div p, .description-div p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.title-div {
    width: 99%; /* or any specific width*/
    word-wrap: break-word;
}




</style>

<div class="overall-profile">
  <div class="overall-profile-inner" style="max-width: 1280px;">

    <div class="left-side-profile" style="max-width: 400px; min-width: 400px;">
      <img src="https://github.com/mdo.png" alt="mdo" width="300px" height="300px" style="border-radius: 16px;">
      
      <h1 style="margin:0; padding-left: 1rem;">{{user.username}} </h1>
      

      <!-- make the about me section into a card component -->
      <!-- <div class="about-me-wrap" style="border: 1px solid rgb(225, 231, 250);border-radius: 8px; width: 20rem"> -->
        <div class="about-me-wrap" style="padding-bottom: 2rem;">
        <!-- <div class="card-header text-center"> -->
          <!-- </div> -->
          <!-- <div class="divider"></div> -->
          
          <div id="bio-display" style="font-size: large;width: 320px;min-height: 5rem;height: auto;border-radius: 16px;padding-top: 1rem;padding-bottom: 1rem;padding-right: 2rem; padding-left: 1rem;">
            <div class="bio-display-title"><h3 style="margin-top: 0;">About Me</h3></div>
            <div class="bio-display-content">{{user.bio}}</div>
          </div>
      
      <!-- <div class="edit-button" style="margin-top: 0.5rem; margin-left: 17rem; -->
      <!-- "> -->
        <!-- <a id="editAboutMeButton" class="btn btn-outline-info">Edit </a> -->
    <!-- </div> -->

      {% block bio_modal %}
      <div class="modal" id="aboutMeModal" tabindex="-1" aria-labelledby="aboutMeModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">

              <div class="modal-header">
                <h1 class="modal-title fs-5" id="aboutMeModalLabel">Edit About Me</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>

              <div class="modal-body">
                <form action="/edit-bio" method="POST">
                  <div class="mb-3">
                    <label for="edit-bio" class="col-form-label">Enter your update:</label>
                    <textarea class="form-control" id="edit-bio" name="bio" rows="5" cols="50">{{user.bio}}</textarea>
                  </div>
                </form>
              </div>
              
              <div class="modal-footer">
                <a href="{{url_for('show_profile')}}" class="btn btn-secondary" id="buttonSaveID">Save</a>
              <!-- <button type="button" class="btn btn-secondary" id="buttonSaveID">Save</button> -->
              </div>
            </div>
          </div>
        </div>
        {% endblock %}

      <!-- use JavaScript to trigger the modal window when the button is clicked. You can do this by adding a data-toggle attribute to the button with a value of "modal" and a data-target attribute with a value of the ID of the modal element (e.g., data-target="#exampleModal"). You can then remove the href attribute from the button and add an onclick event handler that calls the modal() function -->

      {% block script1 %} 
      <script>
          $(document).ready(function(){
              $("#bio-display").click(function(e){
                  $("#aboutMeModal").modal("show");
                  e.preventDefault();
              });
          });
      </script>

      <script>
          $(document).ready(function(){
              $('#buttonSaveID').click(function(e){
                  // The #aboutMeModal element is the parent container for the modal window, and the #edit-bio element is the textarea element inside the modal, using both IDs in the selector, the code is specifically selecting the '#edit-bio' element within the '#aboutMeModal' element
                  const updatedBio = $("#aboutMeModal #edit-bio").val().trim();
                  e.preventDefault();

                  $.ajax({
                      url: '/edit-bio',
                      type:'POST',
                      data:{'bio': updatedBio},
                      success: function(response){
                          console.log(response)

                          if (response.success) {
                              // Update the bio on the page
                              $('#bio-display').html(updatedBio);
                              // Close the modal window
                              $('#aboutMeModal').modal('hide');
                          } else {
                              // Display an error message
                              $('#bio-display').html('An error occured');
                          }
                      }
                  })
              });
          });
      </script>
      {% endblock %}

      
    </div>
   

      

      <div class="my-interest-wrap" style="padding-bottom: 2rem;">

      

      <div id='interest-display' style="font-size: large;width: 320px;min-height: 5rem;height: auto;border-radius: 16px;padding-top: 1rem;padding-bottom: 1rem;padding-right: 2rem; padding-left: 1rem;">
        <div class="interest-display-title">
          <h3 style="margin-top: 0;">My Interest</h3></div>
        <div class="interest-display-content">{{user.interest}}</div>
      
      </div>

      <!-- <div class="edit-button" style="margin-top: 0.5rem; margin-left: 17rem; -->
      <!-- "> -->
        <!-- <a id="editInterestButton" class="btn btn-outline-info">Edit </a> -->
      <!-- </div> -->

    </div>

      {% block interest_modal %}
      <div class="modal" id="interestModal" tabindex="-1" aria-labelledby="interestModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">

              <div class="modal-header">
                <h1 class="modal-title fs-5" id="interestModalLabel">Edit Interest</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>

              <div class="modal-body">
                <form>
                  <div class="mb-3">
                    <label for="edit-interest" class="col-form-label">Enter your update:</label>
                    <textarea class="form-control" id="edit-interest" name="interest" rows="5" cols="50">{{user.interest}}</textarea>
                  </div>
                </form>
              </div>
              
              <div class="modal-footer">
                <a href="{{url_for('show_profile')}}" class="btn btn-secondary" id="buttonSaveinterest">Save</a>
              </div>
            </div>
          </div>
        </div>
      {% endblock %}

      {% block script3 %} 
      <script>
          $(document).ready(function(){
              $("#interest-display").click(function(e){
                  $("#interestModal").modal("show");
                  e.preventDefault();
              });
          });
      </script>

      <script>
          $(document).ready(function(){
              $('#buttonSaveinterest').click(function(e){
                  const updatedInterest = $('#interestModal #edit-interest').val().trim();
                  e.preventDefault();
                  
                  $.ajax({
                      url: '/edit-interest',
                      type: 'POST',
                      data: {'interest': updatedInterest},
                      success: function(response){
                          console.log(response)

                          if (response.success){
                              $('#interest-display').html(updatedInterest);
                              $('#interestModal').modal('hide');
                          } else {
                              $('#interest-display').html('An error occured');
                          }
                      }
                  
                  })

              })
          })

      </script>
      {% endblock %}

      
      <div class="skill-wrap" style="padding-bottom: 2rem;">
        
  
        <div id="selected-skills-display" style="font-size: large;width: 320px;min-height: 5rem;height: auto;border-radius: 16px;padding-top: 1rem;padding-bottom: 1rem;padding-right: 2rem; padding-left: 1rem;">
          <div class="bio-display-title"><h3 style="margin-top: 0;">My Skills</h3></div>
          {% for skill in user.skills %}
            <button class="pills">{{ skill.skill }}</button>
          {% endfor %}
          
        </div>
  
        <!-- <div class="edit-button" style="margin-top: 0.5rem; margin-left: 17rem;
        ">
        <a id="editSkillsButton" class="btn btn-outline-info">Edit</a>
        </div> -->
  
        <div id="skills-display"></div>
  
        {% block skill_modal %}
        <div class="modal" id="skillsModal" tabindex="-1" aria-labelledby="skillsModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
  
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="skillsModalLabel">Edit Skills</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
  
              <div class="modal-body">
                <form action="/edit-skills" method="POST">
                  <div class="mb-3">
                    <label for="edit-skills" class="col-form-label">Select your top skills:</label>
                    <p><i>Hold down the control (ctrl) / command button to select multiple options</i></p>
                    <select name="skills" id="skills-select" multiple size="8">
  
                      {% for skill in all_skills %}
                        {% if skill in user.skills %}
                          <option value={{skill.skill_id}} selected>{{skill.skill}}</option>
                        {% else %}
                          <option value={{skill.skill_id}}>{{skill.skill}}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                  <!-- modify: use javascript for submit for async, use css to modify where it is placed-->
                  <input type="submit">
                </form>
              </div>
              
              <div class="modal-footer">
                <!-- <a href="{{url_for('show_profile')}}" class="btn btn-secondary" id="buttonSaveskills">Save</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
  
        {% endblock %}
  
        {% block script2 %} 
  
        <script>
          $(document).ready(function(){
              $("#selected-skills-display").click(function(e){
                  $("#skillsModal").modal("show");
                  e.preventDefault();
              });
          });
        </script>
  
        <script>
  
        document.getElementById('buttonSaveskills').addEventListener('click', function(e) {
          
          e.preventDefault();
  
          const skillsSelect = document.getElementById('skills-select');
          const selectedOptions = skillsSelect.selectedOptions;
  
          // Iterate over the selected options
          for (let i = 0; i < selectedOptions.length; i++) {
            // Get the text of the option
            const skillName = selectedOptions[i].text;
  
            console.log(`skillName: ${skillName}`);
  
  
            $.ajax({
                    url: '/edit-skills',
                    type:'POST',
                    data:{'skills': skillName},
                    success: function(response){
                        console.log(response)
  
                        if (response.success) {
                          $('#selected-skills-display').html(skillName);
                          $("#skillsModal").modal("hide");
                        } else {
                            // Display an error message
                            $('#selected-skills-display').html('An error occured');
                        }
  
        }});
          }}); 
  
        </script>
  
        {% endblock %}
  

      <br><br>

        
          </div>
  
    
    <div class="right-side-profile">
      <div class="posts-wrap">
      
      <h3>My Posts</h3>

        <div class="add-post-wrap" style="
        border: 1px solid rgb(225, 231, 250);
        border-radius: 8px;
        width: inherit;
        height: auto;
        display: flex;
        align-items: center;
    ">
   <div class="add-post-btn">
    <a href="/add_post">
  <button tabindex="0" id="addPost" style="width: 60px;height: 60px;border-radius: 8px;
  position: relative;box-sizing: border-box;background: #0dcaf0;border: #0dcaf0;margin-left: 1rem;margin-top: 1rem;margin-bottom: 1rem;margin-right:1rem; float:left;">
  <svg width="24" height="24" preserveAspectRatio="xMinYMin slice" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="">
          <path d="M12 5V19M5 12H19" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
          </button>
    </a>
  </div>


          <div class="CTA" style="float:right; padding: 1rem; font-size:large">
          <strong>Add Post</strong><br><br>

          Start talking about your next collaboration, service opportunity or showcase your skills, projects and more.
        </div>

          <!-- <a href="/add_post" class="btn btn-primary" id="addPost">Add Post</a> -->
          </div>

      <br>
      <!-- {{user.posts}} -->
      <br>

          <div class="container">
            <div class="row">
              {% for post in user.posts %}
              <div class="col-4">
                <div class="post-card" style="border: 1px solid rgb(225, 231, 250);border-radius: 16px;width: 20rem;height: 25rem;margin-bottom: 2rem;box-shadow: 0 4px 8px 0 rgb(0 0 0 / 3%), 0 6px 20px 0 rgb(0 0 0 / 5%);">
                  <a href="/detail/{{post.post_id}}" style="color: black;text-decoration: none;
              ">
                  <div class="post-image-div">
                    <img src="https://images.unsplash.com/photo-1563089145-599997674d42?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" style="object-fit: cover; height: 7rem; display: block;width: 100%; border-radius: 16px; border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0">
                  </div>
                  <div class="post-content-div" style="padding: 1rem;">
                    <div class="datetime-div">
                      <p>{{post.post_date.strftime('%m/%d/%Y, %H:%M')}}</p>
                    </div>
                    <div class="title-div">
                      <p style="font-size: 22px;font-weight: bold;">{{ post.title }}</p>
                    </div>
                    <div class="description-div" style="
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                ">
                      <p>{{post.description}}</p>
                    </div>
                    <div class="username-div">
                      <p>by {{user.username}} </p>
                    </div>
                </div>
                </a>
              </div>
            </div>
              {% endfor %}  

            </div>
          </div>

    
    </div>

  </div>

  
  </div>





</div>

{% endblock %}
