{% extends 'base.html' %}
{% block title %}Talent Hub{% endblock %}

{% block body %}

<style>
.overall-profile {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.overall-profile-inner {
  display: flex;
  flex-direction: row;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  padding-top: 40px;
}

.right-side-profile {
  display: flex;
  flex-direction: column;
}

.divider {
    width: 100%;
    height: 1px;
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: #C0CBF0;
}

.pills {
  background-color: rgb(225, 231, 250);
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.container {
  padding-right: 0%;
  padding-left: 0%;
}

.post-card{
  position:relative;
}

.username-div{
  position: absolute;
  bottom: 0;
}

</style>

<div class="overall-profile">
  <div class="overall-profile-inner" style="max-width: 1280px;">

    <div class="left-side-profile" style="max-width: 413px; min-width: 413px;">
      <img src="https://github.com/mdo.png" alt="mdo" width="300px" height="300px" style="border-radius: 16px;" >
      
      <h1 style="margin:0">{{user.username}} </h1>
      

      <!-- make the about me section into a card component -->
      <!-- <div class="about-me-wrap" style="border: 1px solid rgb(225, 231, 250);border-radius: 8px; width: 20rem"> -->
        <div class="about-me-wrap" >
        <!-- <div class="card-header text-center"> -->
        <h3>About Me</h3>
      <!-- </div> -->
      <!-- <div class="divider"></div> -->

      <div id="bio-display" style="border: 1px solid rgb(225, 231, 250);border-radius: 8px; width: 20rem; height: 9rem">{{user.bio}}</div>
      
      <div class="edit-button" style="margin-top: 0.5rem; margin-left: 17rem;
      ">
        <a id="editAboutMeButton" class="btn btn-outline-info">Edit </a>
    </div>

      {% block bio_modal %}
      <div class="modal" id="aboutMeModal" tabindex="-1" aria-labelledby="aboutMeModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">

              <div class="modal-header">
                <h1 class="modal-title fs-5" id="aboutMeModalLabel">Edit About Me</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>

              <div class="modal-body">
                <form action="/edit-bio" method="POST">
                  <div class="mb-3">
                    <label for="edit-bio" class="col-form-label">Enter your update:</label>
                    <textarea class="form-control" id="edit-bio" name="bio" rows="5" cols="50">{{user.bio}}</textarea>
                  </div>
                </form>
              </div>
              
              <div class="modal-footer">
                <a href="{{url_for('show_profile')}}" class="btn btn-secondary" id="buttonSaveID">Save</a>
              <!-- <button type="button" class="btn btn-secondary" id="buttonSaveID">Save</button> -->
              </div>
            </div>
          </div>
        </div>
        {% endblock %}

      <!-- use JavaScript to trigger the modal window when the button is clicked. You can do this by adding a data-toggle attribute to the button with a value of "modal" and a data-target attribute with a value of the ID of the modal element (e.g., data-target="#exampleModal"). You can then remove the href attribute from the button and add an onclick event handler that calls the modal() function -->

      {% block script1 %} 
      <script>
          $(document).ready(function(){
              $("#editAboutMeButton").click(function(e){
                  $("#aboutMeModal").modal("show");
                  e.preventDefault();
              });
          });
      </script>

      <script>
          $(document).ready(function(){
              $('#buttonSaveID').click(function(e){
                  // The #aboutMeModal element is the parent container for the modal window, and the #edit-bio element is the textarea element inside the modal, using both IDs in the selector, the code is specifically selecting the '#edit-bio' element within the '#aboutMeModal' element
                  const updatedBio = $("#aboutMeModal #edit-bio").val().trim();
                  e.preventDefault();

                  $.ajax({
                      url: '/edit-bio',
                      type:'POST',
                      data:{'bio': updatedBio},
                      success: function(response){
                          console.log(response)

                          if (response.success) {
                              // Update the bio on the page
                              $('#bio-display').html(updatedBio);
                              // Close the modal window
                              $('#aboutMeModal').modal('hide');
                          } else {
                              // Display an error message
                              $('#bio-display').html('An error occured');
                          }
                      }
                  })
              });
          });
      </script>
      {% endblock %}

      
    </div>


      <div class="skill-wrap">
      <h3>My Skills</h3>

      <div id="selected-skills-display">
        {% for skill in user.skills %}
          <button class="pills">{{ skill.skill }}</button>
        {% endfor %}
        <!-- <p>{{all_userSkill}}</p> -->
      </div>

      <div class="edit-button" style="margin-top: 0.5rem; margin-left: 17rem;
      ">
      <a id="editSkillsButton" class="btn btn-outline-info">Edit</a>
      </div>

      <div id="skills-display"></div>

      {% block skill_modal %}
      <div class="modal" id="skillsModal" tabindex="-1" aria-labelledby="skillsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">

            <div class="modal-header">
              <h1 class="modal-title fs-5" id="skillsModalLabel">Edit Skills</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
              <form action="/edit-skills" method="POST">
                <div class="mb-3">
                  <label for="edit-skills" class="col-form-label">Select your top skills:</label>
                  <p><i>Hold down the control (ctrl) / command button to select multiple options</i></p>
                  <select name="skills" id="skills-select" multiple size="8">

                    {% for skill in all_skills %}
                      {% if skill in user.skills %}
                        <option value={{skill.skill_id}} selected>{{skill.skill}}</option>
                      {% else %}
                        <option value={{skill.skill_id}}>{{skill.skill}}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>
                <!-- modify: use javascript for submit for async, use css to modify where it is placed-->
                <input type="submit">
              </form>
            </div>
            
            <div class="modal-footer">
              <!-- <a href="{{url_for('show_profile')}}" class="btn btn-secondary" id="buttonSaveskills">Save</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>

      {% endblock %}

      {% block script2 %} 

      <script>
        $(document).ready(function(){
            $("#editSkillsButton").click(function(e){
                $("#skillsModal").modal("show");
                e.preventDefault();
            });
        });
      </script>

      <script>

      document.getElementById('buttonSaveskills').addEventListener('click', function(e) {
        
        e.preventDefault();

        const skillsSelect = document.getElementById('skills-select');
        const selectedOptions = skillsSelect.selectedOptions;

        // Iterate over the selected options
        for (let i = 0; i < selectedOptions.length; i++) {
          // Get the text of the option
          const skillName = selectedOptions[i].text;

          console.log(`skillName: ${skillName}`);


          $.ajax({
                  url: '/edit-skills',
                  type:'POST',
                  data:{'skills': skillName},
                  success: function(response){
                      console.log(response)

                      if (response.success) {
                        $('#selected-skills-display').html(skillName);
                        $("#skillsModal").modal("hide");
                      } else {
                          // Display an error message
                          $('#selected-skills-display').html('An error occured');
                      }

      }});
        }}); 

      </script>

      {% endblock %}

    

      

      <div class="my-interest-wrap" >

      <h3>My Interest</h3>

      <div id='interest-display' style="border: 1px solid rgb(225, 231, 250);border-radius: 8px; width: 20rem; height: 9rem">{{user.interest}}</div>

      <div class="edit-button" style="margin-top: 0.5rem; margin-left: 17rem;
      ">
        <a id="editInterestButton" class="btn btn-outline-info">Edit </a>
      </div>

    </div>

      {% block interest_modal %}
      <div class="modal" id="interestModal" tabindex="-1" aria-labelledby="interestModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">

              <div class="modal-header">
                <h1 class="modal-title fs-5" id="interestModalLabel">Edit Interest</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>

              <div class="modal-body">
                <form>
                  <div class="mb-3">
                    <label for="edit-interest" class="col-form-label">Enter your update:</label>
                    <textarea class="form-control" id="edit-interest" name="interest" rows="5" cols="50">{{user.interest}}</textarea>
                  </div>
                </form>
              </div>
              
              <div class="modal-footer">
                <a href="{{url_for('show_profile')}}" class="btn btn-secondary" id="buttonSaveinterest">Save</a>
              </div>
            </div>
          </div>
        </div>
      {% endblock %}

      {% block script3 %} 
      <script>
          $(document).ready(function(){
              $("#editInterestButton").click(function(e){
                  $("#interestModal").modal("show");
                  e.preventDefault();
              });
          });
      </script>

      <script>
          $(document).ready(function(){
              $('#buttonSaveinterest').click(function(e){
                  const updatedInterest = $('#interestModal #edit-interest').val().trim();
                  e.preventDefault();
                  
                  $.ajax({
                      url: '/edit-interest',
                      type: 'POST',
                      data: {'interest': updatedInterest},
                      success: function(response){
                          console.log(response)

                          if (response.success){
                              $('#interest-display').html(updatedInterest);
                              $('#interestModal').modal('hide');
                          } else {
                              $('#interest-display').html('An error occured');
                          }
                      }
                  
                  })

              })
          })

      </script>
      {% endblock %}

      

      <br><br>

        
          </div>
  
    
    <div class="right-side-profile">
      <div class="posts-wrap">
      
      <h3>My Posts</h3>

        <div class="add-post-wrap" style="
        border: 1px solid rgb(225, 231, 250);
        border-radius: 8px;
        width: inherit;
        height: auto;
        display: flex;
        align-items: center;
    ">

  <button tabindex="0" id="addPost" style="width: 46px;height: 46px;border-radius: 8px;
  position: relative;box-sizing: border-box;background: skyblue;border: skyblue;margin-left: 1rem;margin-top: 1rem;margin-bottom: 1rem;margin-right:1rem; float:left;">
  <a href="/add_post">

        <svg width="24" height="24" preserveAspectRatio="xMinYMin slice" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="">
          <path d="M12 5V19M5 12H19" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><defs><linearGradient id="paint0_linear" x1="6.67606" y1="2.48437" x2="26.0418" y2="7.23253" gradientUnits="userSpaceOnUse"><stop stop-color="#0037EB"></stop><stop offset="0.87859" stop-color="#F895FF"></stop><stop offset="0.87869" stop-color="#F67AFF"></stop></linearGradient></defs></svg></a></button>

          <div class="CTA" style="float:right; padding: 1rem;">
          <strong>Add Post</strong><br><br>

          Start talking about your next collaboration, service opportunity or showcase your skills, projects and more.
        </div>

          <!-- <a href="/add_post" class="btn btn-primary" id="addPost">Add Post</a> -->
          </div>

      <br>
      <!-- {{user.posts}} -->
      <br>

          <div class="container">
            <div class="row">
              {% for post in user.posts %}
              <div class="col-4">
                <div class="post-card" style="padding:1rem;padding:1rem;border: 1px solid rgb(225, 231, 250);border-radius: 8px;width: 15rem;height: 20rem; margin-bottom:1rem;">
                  <img src="https://images.unsplash.com/photo-1563089145-599997674d42?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" style="
                  object-fit: cover;
                  width: 15rem;
                  height: 7rem;
              ">
                  <div class="datetime-div">
                    <p>{{post.post_date.strftime('%Y-%m-%d %H:%M')}}</p></div>
                  <div class="title-div">
                    <p style="font-size:20px;">{{ post.title }}</p></div>
                  <div class="description-div">
                    <p>{{post.description}}</p></div><br>
                  <div class="username-div">
                  <p>by {{user.username}} </p></div>
              </div>
            </div>
              {% endfor %}  

            </div>
          </div>

    
    </div>

  </div>

  
  </div>





</div>

{% endblock %}
